{%extends "layout1.html"%}
{% block content %}

<table class="table">
    <thead>
      <tr>
        <th scope="col">date</th>
        <th scope="col">Login Time </th>
        <th scope="col">Logout Time</th>
        <th scope="col">Hours worked(HH::MM::SS)</th>
        <th scope="col">Total Hours {{thrs}}</th>
        <th scope="col"><button><a href="/export">Export</a></button></th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
        {% for index in range(res.date|length) %}
        <tr>
            <td>{{ res.date[index] }}</td>
            <td>{{ res.login[index] }}</td>
            <td>{{ res.logout[index] }}</td>
            <td>{{ res.hrs[index] }}</td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
{% endblock %}