{%extends "adminpanel.html"%}
{% block content %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">Username</th>
        <th scope="col">No.of Hours worked</th>
        <th scope="col">Total Hours :{{sum}}</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
        {% for index in range(hrs|length) %}
        <tr>
            <td>{{ usernames[index] }}</td>
            <td>{{ hrs[index] }}</td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
{% endblock %}