{%extends "adminpanel.html"%}
{% block content %}
<div class="head" style="width: 900px; height: 300px; background-color: aquamarine;border-style:groove; border-left: hidden;border-radius: 5px;">
<form action="/empedit" method="post">
<select name="emp"  style="height: 35px; width: 250px; margin-left: 300px;margin-top: 10px; background-color: aliceblue;font-size: 25px; border-radius: 50px;" >
    {% for user in users %}
<option value="{{ user.username }}">{{user.username}}</option>    
{% endfor %}
<br>

<input type="submit" style="margin-left: 40%; height: 40px;width: 150px; border-radius: 50px;margin-top: 10px;" value="submit">
</select>
</form>
</div>
{% endblock %}