{%extends "layout.html"%}
{% block content %}
<br>
<br>
<br>
<form action="{{ url_for('signupauth')}}" method="post">
<div   class="card mb-3" style="max-width: 540px; margin-left: 30%;">
    <div class="row g-0">
      <div class="col-md-8">
        <div class="card-body">
            <div style="margin-left: 25%;" class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">@</span>
                <input type="text" name="U_name"  class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
              </div>
              <div style="margin-left: 25%;" class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">	&#128273; </span>
                <input type="text"  name="P_word"  class="form-control" placeholder="Password" aria-label="Username" aria-describedby="basic-addon1">
              </div>
              <div style="margin-left: 25%;" class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"> </span>
                <input type="text"  name="designation"  class="form-control" placeholder="Designation" aria-label="Username" aria-describedby="basic-addon1">
              </div>
              <div style="margin-left: 25%;" class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"> </span>
                <input type="text"  name="Department"  class="form-control" placeholder="Department Working" aria-label="Username" aria-describedby="basic-addon1">
              </div>
              <div style="margin-left: 25%;" class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"> </span>
                <input type="text"  name="Report"  class="form-control" placeholder="Reporting Manager" aria-label="Username" aria-describedby="basic-addon1">
              </div>
              <div style="margin-left: 25%;" class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"> </span>
                <input type="text"  name="skills"  class="form-control" placeholder="Skills" aria-label="Username" aria-describedby="basic-addon1">
              </div>
              <button  style="margin-left: 60%;" type="submit" class="btn btn-outline-primary">Submit</button>

        </div>
      </div>
      <div style="padding-left: 22%;">
        <h5>I  have Account <a href="/login">signin</a></h5>
      </div>
    </div>
  </div>
</form>

{% endblock %}