{%extends "layout1.html"%}
{% block content %}
<form action="/submitleave" method="post">
<ul>
    <li>
        <b>Avaiable Leaves:</b>      {{leaves}}
    </li>
    <li>
        <b>Avaiable Leaves of month :</b>      {{value}}
    </li>
    <li>  
        <b>Reporting Manager:</b> {{rm}}
    </li>
    <li>
        <b>Date of Leave  from :</b>  <input type="date" name="dl">
    </li>
    <li>
        <b>to :</b>  <input type="date" name="dl1">
    </li>
    <li>
        <b>Reason:</b>
        <br>
        <textarea name="reason"  cols="30" rows="7"></textarea>
    </li>

</ul>

<input type="submit" value="submit"><br>
{{msg}}
</form>
{% endblock %}