{%extends "adminpanel.html"%}
{% block content %}
<div class="rightframe" style="height: auto; width: 900px; border-style: groove; border-left: hidden; border-radius:5px ;">
    <div class="head" style="width: 900px; height: 320px; background-color: aquamarine;">
<form action="/depthrsub" method="post">
    <select name="dept"  style="height: 35px; width: 250px; margin-left: 30px;margin-top: 10px; background-color: aliceblue;font-size: 25px; border-radius: 50px;"  >
        <option value="GIS/CAD">GIS/CAD</option>
        <option value="Surveying">Surveying</option>
        <option value="Photogrammetry">G"Photogrammetry</option>
        <option value="LiDAR Services">LiDAR Services</option>
        <option value="Digital Twins">Digital Twins</option>
        <option value="BIM">BIM</option>
        <option value="xyz">xyz</option>
    </select>
    <select name="month" style="height: 35px; width: 250px; margin-left: 30px;margin-top: 10px; background-color: aliceblue;font-size: 25px; border-radius: 50px;" >
        {% for m in mon %}
        <option value="{{ m }}">{{m}}</option>    
        {% endfor %} 
    </select>
    <input type="submit" style="margin-left: 30px; height: 40px;width: 200px; border-radius: 50px;margin-top: 10px;"  value="submit">
</form>
</div>
</div>
{% endblock %}