{%extends "layout1.html"%}
{% block content %}

<img  style="margin-left: 30%;" src="{{ url_for('static', filename = 'images/profile.png') }}" alt="vsjdbhd">


<div class="info"  style="border-style: double; border-radius: 5px;">
<ul>
<li>    <b>Username:</b>                                  {{U_name}}  </li>
 <li>   <b>Designation:</b>                               {{Designation}}   </li>
   <li> <b>Department_Working:</b>                        {{Department_Working}} </li>
   <li> <b>Reporting_Manager;</b>                         {{Reporting_Manager}} </li>
   <li> <b>skills:</b>                                    {{skills}} </li>
 <li> <b>  Avaiable_leaves:</b>                           {{Avaiable_leaves}} </li>
</ul>
</div>


{% endblock %}