{%extends "adminpanel.html"%}
{% block content %}
<div class="rightframe" style="height: auto; width: auto; border-style: groove; border-left: 0px;">
  <div class="head" style="width: 900px; height: auto; background-color: aquamarine;border-style:groove; border-left: hidden;border-radius: 5px;">
    <form   action="{{ url_for('empeditsub')}}" method="post"   style="margin-top: 22%; margin-right: 20%;">
      <div   class="card mb-3" style="max-width: 540px; margin-left: 30%;">
          <div class="row g-0">
            <div class="col-md-8">
              <div class="card-body">
                    <h6>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Username:</h6>
                  <div style="margin-left: 25%;" class="input-group mb-3">
                      <span class="input-group-text" id="basic-addon1">@</span>
                      
                      <input type="text" name="U_name"  class="form-control" placeholder="Username" value="{{user.username}}" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                    <h6>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Designation:</h6>
                    <div style="margin-left: 25%;" class="input-group mb-3">
                      <span class="input-group-text" id="basic-addon1"> </span>
                      <input type="text"  name="designation"  class="form-control" placeholder="Designation"  value="{{user.Designation}}" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                    <h6>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Department Working:</h6>
                    <div style="margin-left: 25%;" class="input-group mb-3">
                      <span class="input-group-text" id="basic-addon1"> </span>
                      <input type="text"  name="Department"  class="form-control" placeholder="Department Working"  value="{{user.Department_Working}}" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                    <h6>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Reporting Manager:</h6>
                    <div style="margin-left: 25%;" class="input-group mb-3">
                      <span class="input-group-text" id="basic-addon1"> </span>
                      <input type="text"  name="Report"  class="form-control" placeholder="Reporting Manager" value="{{user.Reporting_Manager}}" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                    <h6>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Avaiable_leaves:</h6>
                    <div style="margin-left: 25%;" class="input-group mb-3">
                      <span class="input-group-text" id="basic-addon1"> </span>
                      <input type="text"  name="al"  class="form-control" placeholder="Avaliable leaves"  value="{{user.Avaiable_leaves}}" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                    <button  style="margin-left: 60%;" type="submit" class="btn btn-outline-primary">Primary</button>
      
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>    
{% endblock %}